<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="tab" *ngFor="let dev of data | slice:0:3; let i=index">
<div >
 <img src="{{dev.headshot2}}" id="defaultOpen" class="tablinks" (click)="onClick(event,dev.title2)">
</div>

<div>
<div id="dev.title2" class="tabcontent">
  <h3>{{dev.title2}}</h3>
  <p>{{dev.about2}}</p>
</div>
</div> -->
<h2> Cabinet <h2>
<div *ngFor="let dev of data | slice:0:3; let i=index">
  <div class="tab">
  <img src="{{dev.headshot2}}" class="tablinks" id="defaultOpen" (click)="show = 1">
</div>

<div *ngIf="show == 1" id="dev.title2" class="tabcontent">
  <h3>{{dev.title2}}</h3>
  <p>{{dev.about2}}</p>
</div>
</div>
